/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.body{
  background: rgba(154, 185, 225, 0.73);
  display: block;
  width: 100%;
  height: 4000px;
}
.postTile{
  list-style: none;
  min-width: 200px;
  image-resolution: snap;
  background-repeat: no-repeat;
  text-align: center;
  display: block;
  box-shadow: 5px 4px 9px rgba(0, 0, 0, 0.48);
  border-radius: 3px;
  background-color: #ccc;
  margin-right: 30px;
}
.postTile:hover{
  box-shadow: 5px 4px 9px 5px rgba(255, 255, 255, 0.48)
}
.postTile * h3{
  font-size: 15px;
}
.postTile * h5{
  font-size: 9px;
}

