<div ng-controller="postListCtrl" class="row col-sm-12" >
    <ul class="row col-sm-12">
        <li class="ng-scope postTile col-sm-6 col-md-4" ng-repeat="tile in tiles" ng-click="onTileClick(tile)" >
            <div>
                <img data-ng-src="data:image/png;base64,{{tile.image}}" height="60px" width="100px">
                <div>
                    <h3>{{tile.title}}</h3>
                    <h5>{{tile.subtitle}}</h5>
                </div>
            </div>
        </li>
    </ul>
</div>
